# markdown-it-table-wrapper

A [markdown-it](https://github.com/markdown-it/markdown-it) plugin for wrapping a table with a custom Vue component. For use with Vuepress.

I find this preferable to using a Vue component / [named Markdown slot](https://vuepress.vuejs.org/guide/markdown-slot.html) directly in the Vuepress markdown file.

## Usage

{{>main}}

### Example

```js
// .vuepress/config.js

module.exports = {
  markdown: {
    extendMarkdown: md => {
      md.use(require('markdown-it-table-wrapper'), {
        captionFromPrecedingSiblingTag: 'h3',
        captionLinerClass: 'caption-liner',
        tableWrapperClass: '',
        tableWrapperTag: 'TableWrapper',
      })
    }
  }
}
```

```vue
// .vuepress/components/TableWrapper.vue (simplified example)

<template>
  <div class="table-wrapper">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'TableWrapper',
}
</script>
```

#### Input markdown

```md
### Animals I've Known

| Animal | Color  | Name      |
|--------|--------|-----------|
| Cat    | Ginger | Gingernut |
```

#### Output HTML

```html
<div class="table-wrapper">
  <table>
    <caption>
      <span class="caption-liner">Animals I've Known</span>
    </caption>
    <thead>
      <tr>
        <th>Animal</th>
        <th>Color</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cat</td>
        <td>Ginger</td>
        <td>Gingernut</td>
      </tr>
    </tbody>
  </table>
</div>
```
